<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/user/changePassword" method="post">

    <h2 th:if="${errorMessage != null}" th:text="${errorMessage}"></h2>

    <input type="hidden" name="userId" th:value="${user.id}">
    <input type="password" placeholder="oldPassword">
    <br/>
    <input type="password" placeholder="newPassword">
    <br/>
    <input type="password" placeholder="repeatNewPassword">
    <br/>
    <input type="submit" value="change" >
</form>

</body>
</html>